
head {
    font-family: 'Montserrat';
}

body {
    font-family: 'Montserrat';
    color: white;
}

h5 {
    font-weight: bold;
}

h4 {
    font-weight: bold;
}

h4 a {
    color: black;
}

h3 {
    display: inline;
}

.navbar-custom-first{
    background-color: #59114D;
    font-weight: bold;
}

.navbar-custom-second {
    background-color: #3B1034;
    font-weight: bold;
}

.navbar-custom-first a{
    color: #ffffff;
}

.fixed-offset{
    top: 80px;
}

.logo {
    font-size: 36px;
    font-weight: lighter;
}

.about {
    font-size: 20px;
    font-weight: bold;
    padding-right: 20px;
}

.different-color {
    background-color: #F0AC59;
    height: 70px;
}

.different-color a {
    color: #3B1034;
}

.navbar-custom-second a {
    color: #ffffff;
    font-size: 18px;
}

.navbar-custom-second li {
    display: inline;
    padding-right: 60px;
}

.height {
    height: 270px;
}

.picture {
    margin-top: 130px;
    background-image: url('Slike/rovinj.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 800px;
    min-height: 500px;
    box-shadow:inset 0 0 0 773px rgba(21, 69, 126, 0.4);
    background-size: cover;
  } 

.naslov{
    font-size: 48px;
    padding-top: 128px;
    line-height: 50px;
    font-weight: lighter;
    padding-bottom: 80px;
}

.bold-naslov{
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 50px;
    text-shadow: 1px 0 #FFFFFF;
    letter-spacing:0.5px;
}

.opis{
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;
    padding-right: 60px;
    padding-bottom: 37px;
}

.buttons {
    font-size: 18px;
    line-height: 30px;
    padding-right: 60px;
    padding-bottom: 116px;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #F0AC59 !important;
    border-radius: 50px;
    color: #383838 !important;
    font-weight: bolder;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    border: #F0AC59;
}

.button-align {
    margin-right: 29px;
    margin-top: 20px;
    padding: 13px 35px 13px 35px;
}

.btn-secondary, .btn-secondary:hover, .btn-secondary:active, .btn-secondary:visited {
    background-color: #FFFFFF !important;
    border-radius: 50px;
    color: #383838 !important;
    font-weight: bolder;
    font-size: 18px;
    padding: 13px 80px 13px 80px;
    line-height: 25px;
    text-align: center;
    border: #F0AC59;
    border-style:solid !important;
    border-width: 2px !important;
    margin-top: 20px;
}

.btn-danger, .btn-danger:hover, .btn-danger:active, .btn-danger:visited {
    background-color: #4A1141 !important;
    color: #FFFFFF !important;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
    align-items: center;
    border: #4A1141;
}

.search {
    background-color: #F3F3F3;
    height: 50%;
    color: black;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.15);
    padding-left: 30px;
}

.search-naslov {
    font-size: 45px;
    line-height: 60px;
    text-align: center;
    font-weight: bold;
    color: #202020;
    padding-top: 61px;
    padding-bottom: 40px;
}

.fix-align {
    padding-top: 32px;

}

.plaze {
    background-color: #66335E;
    color: white;
    height: 517px;
    text-align: center;
}

.znamenitosti {
    background-color: #F0AC59;
    color: #383838;
    height: 517px; 
    text-align: center;
}

.tradicija {
    background-color: #4A1141;
    color: white;
    height: 517px;
    text-align: center;
}

.plaze a{
    color: white;
}

.znamenitosti a{
    color: #383838;
}

.tradicija a {
    color: white;
}


.ikone {
    margin-top: 58px;
    margin-bottom: 17px;
    width: 80px;
    height: 80px;
}

.podnaslov {
    font-weight: 500;
    font-size: 26px;
    line-height: 50px;
    text-align: center;
}

.kratki-opis {
    padding-left: 60px;
    padding-right: 60px;
}

.background-shadow {
    background-color: #F3F3F3;
    height: 725px;
    color: black !important;
}

.pozicijav1 {
    width: 100%;
    margin-top: 190px;
}

.pozicijav2 {
    width: 100%;
    margin-top: 80px;
}

.galerija-opis{
    font-size: 18px;
    color: #6C6C6C;
}

.galerija-naslov {
    font-weight: bold;
    font-size: 36px;
    line-height: 50px;
    color: #4A1141;
}

.galerija-ikona {
    margin-top: 150px;
}

.smjestaj {
    color:black;
}

.smjestaj a{
    color:#4A1141;
    float: right;
    font-weight: bold;
}

.smjestan-naslov{
    margin-top: 15px;
    font-weight: bolder;
    font-size: 22px;
    line-height: 24px;
}

.full-star {
    fill: #4A1141;
}

.empty-star{
    fill: #CDCDCD;
}

.triangle {
    clip-path: polygon(0 0, 0 50%, 50% 100%, 100% 50%, 100% 0);
    width: 100%;
  }


.dodatnov1 {
    background-color: #4A1141;
    color: white;
    height: 700px;
    text-align: center;
}


.dodatnov2 {
    background-color: #66335E;
    color: white;
    height: 700px;
    text-align: center;
}

.podnaslovv2 {
    font-weight: 500;
    font-size: 26px;
    line-height: 50px;
    text-align: center;
    margin-top: 40px;
}

.podnaslovv2 a{
    color: white;
}
.footer {
    background-color: #F0AC59;
    height: 100%;
    color: black;
    padding-top: 50px;
}

.footer a{
    color: black;
    line-height: 30px;
}

/*SMJESTAJ STRANICA*/

.picture-smjestaj {
    margin-top: 130px;
    background-image: url('Slike/smjestaj.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 800px;
    min-height: 500px;
    min-width: 500px;
    background-size: cover;
    background-position: center; 
  } 

.search-smjestaj {
    background-color: #F3F3F3;
    height: 100%;
    width: 589px;
    float:left;
    color: black;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.15);
    padding-left: 60px;
    padding-right: 60px;
    margin-left: 240px;
}

.filteri {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #F3F3F3;
    color: black;
    width: 100%;
}

.button-align-smjestaj {
    padding: 6px 35px 6px 35px;
}

.apartmani {
    font-weight: bold;
    font-size: 48px;
    line-height: 60px;
    text-align: center;
    color: #4A1141;
}

.oglas{
    color: black;
}

.oglas-slika {
    width: 100%;
}

.bigger {
    font-size: 25px;
}

.pagination {
    margin-top: 15px;
    justify-content: center;
}

.pagination>li>a, .pagination>li>span { 
    border-radius: 50% !important;
    margin: 0 5px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #FFFFFF;
    color: black;
    font-weight: bold;
}

.pagination>li.active>a { 
    background-color: #F3F3F3;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
}

/*OGLAS STRANICA*/

.picture-oglas {
    background-image: 
    url(Slike/pozadina1.png),
    url(Slike/pozadina2.png);
    background-position: left top, right top;
    background-repeat: no-repeat; 
    background-size: 50%;
    margin-top: 130px;
    height: 800px;
    width: 100%;
  } 

  .apartman {
    background-color: #F3F3F3;
    height: 50%;
    color: black;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.15);
    padding-left: 30px;
  }

  .apartman-xs {
    background-color: #F3F3F3;
    height: 50%;
    color: black;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.15);
    padding-left: 30px;
    margin-top: 200px;
  }

.height-oglas{
    height: 200px;
}

  .space {
    
      height: 600px;
  }

  .mapa {
      padding-top: 150px;
  }

  .opis-oglas {
    color: black;
  }

.ikone-oglas {
    margin-bottom: 20px;
    width: 80px;
    height: 80px;
}

.ikone-oglas-osoba {
    margin-bottom: 20px;
    width: 190px;
    height: 80px;
}

.povrsina {
    margin-bottom: 34px;
}

.check {
    width: 30px;
    height: 30px;
    float: right;
}

.usluge {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
    list-style-type:none;
}

.dodatne-usluge {
    list-style-type:none;
}

.arrow-left {
    position: absolute;
    top: 50%;
    display: inline-block;
    width: 0; 
    height: 0; 
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
    border-right: 30px solid #F0AC59;
  }

  .arrow-right {
    position: absolute;
    top: 50%;
    margin:0;
    display: inline-block;
    width: 0; 
    height: 0; 
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
    border-left: 30px solid #F0AC59;
  }

  .right {
    float: right;
  }

  
.parallelogram {
    width: 150px;
    height: 100px;
    transform: skew(20deg);
    background-color: red;
}

.background-gray {
    background-color: #F3F3F3;
    color: black;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.15);
}

.gallery
{
    background-image: linear-gradient(to bottom, rgba(240,175, 94, 0.37), rgba(240,175, 94, 0.37)), url("Slike/stan4.png");
    background-image: -moz-linear-gradient(top, rgba(240,175, 94, 0.37), rgba(240,175, 94, 0.37)), url("Slike/stan4.png");
    background-image: -o-linear-gradient(top, rgba(240,175, 94, 0.37), rgba(240,175, 94, 0.37)), url("Slike/stan4.png");
    background-image: -ms-linear-gradient(top, rgba(240,175, 94, 0.37), rgba(240,175, 94, 0.37)), url("Slike/stan4.png");
    background-image: -webkit-linear-gradient(top, rgba(240,175, 94, 0.37), rgba(240,175, 94, 0.37)), url("Slike/stan4.png");
    color: #000;
    width: 100%;
    height: 100%;
    min-height: 150px;
    font-size: 20px;
    font-weight: bolder;
}

.gallery a
{
    position: relative;
    top:30%;
    color: #000;
}


/*KALENDAR*/


.kutija {
    width:315px; 
    overflow:hidden; 
    margin-bottom:10px; 
    margin:0 auto;
  }
  
  .mjesec {
    font:18px; 
    font-weight:lighter; 
    color:#000000; 
    display:block; 
    margin:18px 0 0 0; 
    text-align:center; 
    font-style: italic;
  }
  
  .dani span {
    font:11px; 
    background-color: #F3F3F3;
    font-weight:400; 
    color:#000000; 
    text-align:center; 
    width:40px; 
    display: block;
    margin-bottom: 2px;
    margin-right: 2px;
    height:40px; 
    float: left; 
    overflow:hidden; 
    line-height:40px;
  }
  
.vikend {
    background-color: #FDF6ED !important;
}

.rezervirano {
    color: red !important;
}

/*PARALELOGRAM*/

.diagonal {
	background-color: #FDF6ED;
	transform: skewX(30deg);
}

.diagonal-text {
	transform: skewX(-30deg);
}

.diagonal-udaljenost {
	width: 100px;
	height: 200px;
	background-color: #FDF6ED;
	transform: skewX(20deg);
    transform-origin: top;
    margin-top: 10px;
    padding-top: 20px;
    display: flex;
}

.diagonal-text-udaljenost {
	transform: skewX(-20deg);
}
